/* stylesheet for Stretch & Release App */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body {
    margin: 0px 15px;
}

div {
    padding: 10px;
    display: flex;
}

img {
    display: flex;
    width: 100px;
    height: auto;
}

h1 {
    padding: 5px 0px 25px 0px;
    margin-bottom: -10px;
    margin-top: -10px;
}

h2 {
    padding-bottom: 10px;
}

h3 {
    font-size: 25px;
    padding-bottom: 10px;
}

p {
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
    line-height: 26px;
}

.page-header {
    flex-direction:row;
    justify-content: space-between;
    align-items: flex-start;
}

.page-title {
    flex-direction: column;
    font-size: 25px;
}

.page-footer {
    flex-direction: column;
    align-items: center;
}

.icon-badge {
    padding-right: 12px;
}

.data-section {
    flex-direction: column;
    margin: 12px 10px;
}